@()
<!-- Modal -->


<div id="termsModal" style="width:800px; height: 690px; overflow: auto;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
    <h3 id="myModalLabel">  Процедура оформления заказа </h3>


    <ul>
        <li> кликните на Категорию, которая вас интересуют    </li>
        <li> после появления окна с товарами, если желаете, отсортируйте их по интересующему вас бренду (в строке меню справа)      </li>
        <li> выберите товар/ы и положите его/их в корзину (цена доставки одного/первого выбранного товара самая высокая, каждого последующего - во много раз дешевле)  </li>
        <li> обязательно сверьтесь с таблицей размеров, т.к. в США размеры отличаются от российских и европейских                                                            </li>
        <li> сформиров свой заказ, кликните на корзину, удостоверьтесь в правильности выбранных товаров, выберете способ доставки, добавьте страховку (по желанию), а затем нажмите кнопку "оформить"</li>
        <li> введите ФИО, адрес доставки,</li>
        <li> ведите данные своей кредитной карты</li>
        <li> нажмите кнопку "оплатить"                </li>
        <li> после оплаты дождитесь подтверждения заказа и его номера (подтверждение заказа будет также отправлено вам на емайл)</li>
        <li> если товара нет в наличии, вы увидите уведомление и будете возвращены назад в корзину</li>
        <li> после оплаты заказа, внести изменения или отменить сделанный заказ невозможно (возможен только возврат после получения), поэтому, пожалуйста, очень внимательно проверьте содержимое корзины перед оплатой</li>
        <li> по всем интересующим вас вопросам и проблемам связывайтесь с нами в разделе "вопросы", мы ответим вам в течении 24 часов (кроме выходных дней)</li>
    </ul>

    <h3 id="myModalLabel2">  Оплата и Доставка </h3><br>
<p>
        Мы принимаем оплату в рублях и долларах США кредитными картами Visa, Master Card, American express, Discover
        </p>
        Обратите внимание на то, что при оплате ваш банк снимет с вашей карты свой процент (обычно 1-3%) за конвертацию валют и обслуживание, т.к. наше финансовое учреждение находится в США.

    <br><br>
        Доставка заказов осушествляется государственной почтой США (а по территории России Почтой России) несколькими способами:<br>
        <br>1) <b> Priority Mail</b> – стоимость доставки варьируется в зависимости от веса и размеров от 24.99$ до 217.75$ (19.9 кг).
        Срок доставки варьируется от 14 до 35 дней, в зависимости от вашего местонахождения в РФ (иногда происходят задержки на таможне РФ до 5 недель, за которые мы ответственности не несем и повлиять на них не имеем возможности).
        Этот вариант доставки дает вам возможность отлеживания посылки от момента ее отправки до момента поступления в ваше почтовое отделение.
        Для отлеживайте введите высланный вам номер посылки на сайте www.usps.com в разделе “Track and Confirm”, а после пересечения посылкой границ России на сайте почты России www.russianpost.ru <br>
        <br><br>2) <b>Priority mail Flat Rate</b> – конверты или боксы по единой цене вне зависимости от веса вложения (есть ограничения).
        Срок доставки варьируется от 14 до 35 дней.
        <br><b>Конверт</b> – 24.95$ (ограничение по весу 1.8 кг), в который помещаются мелкие нехрупкие товары, футболка, джемпер, джинсы, легкое платье и пр. Номер отслеживания только по территории США.
    <br><b>Маленький бокс</b> – 24.95$ (ограничение по весу 1.8 кг), в который помещаются мелкие товары, кошелек, неширокий ремень, футболка, блузка и пр. Номер отслеживания только по территории США.
    <br><b>Средний бокс</b> – 60.95$ (ограничение по весу 9 кг) 33 см х 28 см х 7.5 см. Его вы можете наполнить различными товарами. Степень его наполненности показана вам в корзине при выборе данного варианта доставки. Дает номер отслеживания до получателя.
    <br><b>Большой бокс</b> – 78.95$ (ограничение по весу 9 кг) 58 см х 28 см х 7.5 см. Дает номер отслеживания до получателя. Его вы можете наполнить различными товарами. Степень его наполненности показана вам в корзине при выборе данного варианта доставки.
        <br><br>По факту отправки вашей посылки вам будет выслан емайл с номером отслеживания.
        Срок обработки, формирования, упаковки и отправки заказа составляет 4-7 дней.
<br><br>
    <h3 id="myModalLabel3">  Страхование посылки * </h3><br>

        Для тех, кто хочет быть уверенным в надежности отправления, а также  в тех случаях, когда  товар хрупкий и  стоит более 100$, мы настоятельно рекомендуем страховать посылку путем добавления страховки при оформлении заказа.
    <br><br>
        В случае приобретения страховки при наступлении страхового случая (утеря посылки почтовыми службами, кража) Вы получите 100% возврат денежных средств. Это означает, что со страховкой у Вас есть полная гарантия возврата денег по Вашему заказу (исключая комиссии почтовых служб), если посылка не дошла до вас.
    <br><br>
        Цена страховки составляет от 2.5$ (сумма покрытия 50$) до 125$ (сумма покрытия 5000$) в зависимости от цены товара.

        По условиям страховой компании, сумма страховки может равняться номинальной стоимости товара и не может превышать инвойсовую стоимость товара.
    <br><br>
        Для оформления претензии на возмещение в страховом случае уведомьте, пожалуйста, нас по внутренней почте в разделе “Вопросы” через 30 дней после отправки и получения тракинг номера. После уведомления вы получите от нас по электронной почте подтверждение того, что мы начали расследование по вашей жалобе. По результатам расследования посылка либо будет найдена и доставлена вам, либо признана утерянной и вы получите полный возврат денежных средст (кроме комиссии почтовой службы).

    <br><br>
        <i>* В случае отказа покупателя от оформления страховки, наша компания  не несет ответственности за посылки, утерянные Почтовой службой и не производит возврат денег за заказ. Чтобы подобных ситуаций не возникало, мы рекомендуем всем страховать посылки. Спасибо!</i>

    <br><br>
    <h3 id="myModalLabel4">  Таможенное оформление и пошлины </h3><br>

        Пороговая сумма таможенной стоимости* для беспошлинной пересылки составляет 1000 евро в месяц в адрес одного получателя. Кроме того действуют ограничения по весу (31 кг в месяц) для беспошлинного перевоза.<br>

        Если ваша посылка облагается пошлиной**, Вам сообщат об этом сотрудники почтовой службы /на Ваше имя придет уведомление. Пошлина всегда оплачивается получателем.<br>

        В случае, когда посылка не попадает под ставку таможенной пошлины (общая сумма товаров меньше 1000 евро), Вы никак не сталкиваетесь с таможенной службой и ничего за ввоз товаров не платите!
    <br><br>
        <i>* Таможенная стоимость - общая сумма товаров в Вашей посылке в соответствии с ценами продавца (за рубежом).
        ** Пошлина – это не 30% от общей суммы товаров в посылке, а 30% от разницы, на которую таможенная стоимость превышает 1000 евро. 250 рублей – это сбор за таможенное оформление.</i>

    <br><br>
    <h3 id="myModalLabel5">возврат товара</h3><br>


        Если вы желаете вернуть товар, свяжитесь с нами в разделе «Вопросы» в течении 7 дней после получения товара и мы дадим вам полные инструкции.
        <br>Возврат оплачивается покупателем. После получения товара мы возвращаем вам деньги за товар в течении 5–7 дней (деньги за доставку не возмещаются).


    </div>

</div>
