@()
<!-- Modal -->


<div id="myModal" style="width:800px; height: 690px;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
    <h3 id="myModalLabel"> Таблицы соответствия американских размеров европейским и российским* </h3>
        *соответствие применое, рекомендуется сверяться с размерными таблицами производителей

    <ul class="nav nav-pills" id="n" style="width:800px;border-bottom:0;">
        <li class="navZ active" id="she" style="border-bottom:0;"> <a href="#"> Женская одежда </a> </li>
        <li class="navZ" id="he" style="border-bottom:0;"> <a href="#"> Мужская одежда </a> </li>
        <li class="navZ" id="kid" style="border-bottom:0;"> <a href="#"> Детская одежда </a> </li>
    </ul>
</div>

<div class="modal-body" style=" height: 450px; max-height: 450px;">

    <div id="sheD">

        <table id="herClothes" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Женская одежда и белье </h3> </caption>
            <tbody>
                <tr>
                    <td> США </td>
                    <td> XS </td>
                    <td> XS </td>
                    <td> S </td>
                    <td> S </td>
                    <td> M </td>
                    <td> M </td>
                    <td> L </td>
                    <td> L </td>
                    <td> XL </td>
                    <td> XL </td>
                </tr>
                <tr>
                    <td> США </td>
                    <td> 0 </td>
                    <td> 2 </td>
                    <td> 4 </td>
                    <td> 6 </td>
                    <td> 8 </td>
                    <td> 10 </td>
                    <td> 12 </td>
                    <td> 14 </td>
                    <td> 16 </td>
                    <td> 18 </td>
                </tr>
                <tr>
                    <td> Европа </td>
                    <td> 32 </td>
                    <td> 34 </td>
                    <td> 36 </td>
                    <td> 38 </td>
                    <td> 40 </td>
                    <td> 42 </td>
                    <td> 44 </td>
                    <td> 46 </td>
                    <td> 48 </td>
                    <td> 50 </td>
                </tr>
            </tbody>
        </table>

        <table id="herShoes" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Бюстгальтеры </h3> </caption>
            <tbody>
                <tr>
                    <td> США </td>
                    <td> 30 (AA,A,B) </td>
                    <td> 32 (AA,A,B,С) </td>
                    <td> 34 (A,В,С,D,E) </td>
                    <td> 36 (A,В,С,D,E) </td>
                    <td> 38 (A,В,С,D,E) </td>
                    <td> 40 (В,С,D,E) </td>
                    <td> 42 (В,С,D,E) </td>
                </tr>
                <tr>
                    <td> Россия </td>
                    <td> 65 (АА,A,B) </td>
                    <td> 70 (AA,A,B,С) </td>
                    <td> 75 (A,В,С,D,E) </td>
                    <td> 80 (A,В,С,D,E) </td>
                    <td> 85 (A,В,С,D,E) </td>
                    <td> 90 (В,С,D,E) </td>
                    <td> 95 (В,С,D,E) </td>
                </tr>
            </tbody>
        </table>

        <table id="herBra" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Женская обувь </h3> </caption>
            <tbody>
                <tr>
                    <td> США </td>
                    <td > 5 </td>
                    <td > 5.5 </td>
                    <td> 6 </td>
                    <td> 6.5 </td>
                    <td> 7 </td>
                    <td> 7.5 </td>
                    <td> 8 </td>
                    <td> 8.5 </td>
                    <td> 9 </td>
                    <td> 9.5 </td>
                    <td> 10 </td>
                    <td> 10.5 </td>
                    <td> 11 </td>
                    <td> 11.5 </td>
                    <td> 12 </td>
                </tr>
                <tr>
                    <td> Европа </td>
                    <td> 35 </td>
                    <td> 35.5 </td>
                    <td> 36-36.5 </td>
                    <td> 37 </td>
                    <td> 37.5 </td>
                    <td> 38 </td>
                    <td> 38-38.5 </td>
                    <td> 39 </td>
                    <td> 39.5 </td>
                    <td> 39.5-40 </td>
                    <td> 40.5-41 </td>
                    <td> 41.5 </td>
                    <td> 42 </td>
                    <td> 42.5 </td>
                    <td> 42.5-43 </td>
                </tr>
            </tbody>
        </table>



        <table id="herJeans" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Женские джинсы* </h3> </caption>
            <thead>
                <tr> <th> Размер по талии (США) </th> <th> Российский размер </th> </tr>
            </thead>
            <tbody>

                <tr> <td> 25 </td> <td> 40 </td> </tr>
                <tr> <td> 26 </td> <td> 42 </td> </tr>
                <tr> <td> 27 </td> <td> 42-44 </td> </tr>
                <tr> <td> 28 </td> <td> 44 </td> </tr>
                <tr> <td> 29 </td> <td> 44-46 </td> </tr>
                <tr> <td> 30 </td> <td> 46 </td> </tr>
                <tr> <td> 31 </td> <td> 46-48 </td> </tr>
                <tr> <td> 32 </td> <td> 48 </td> </tr>
                <tr> <td> 33 </td> <td> 48-50 </td> </tr>
                <tr> <td> 34 </td> <td> 50 </td> </tr>
                <tr> <td> 35 </td> <td> 50-52 </td> </tr>
                <tr> <td> 36 </td> <td> 52 </td> </tr>
                <tr> <td> 38 </td> <td> 54 </td> </tr>
                <tr> <td> 40 </td> <td> 56 </td> </tr>
                <tr> <td> 42 </td> <td> 58 </td> </tr>
            </tbody>
        </table>
        <ul>
            <li> иногда размер по талии соответсвует американскому размеру женской одежды (0, 2, 4, 6 и пр… см выше) </li>
            <li> иногда возле размера можно встретить буквы S – SHORT (76 см длина по внутреннему шву) </li>
                R – REGULAR (81 см)
                L – LONG (86 см)
        </ul>

    </div>

    <hr>

    <div id="heD" style="padding-top: 30px;">
        <table id="hisClothes" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Мужская одежда </h3> </caption>
            <tbody>
                <tr>
                    <td> США </td>
                    <td> XS </td>
                    <td> S </td>
                    <td> M </td>
                    <td> L </td>
                    <td> XL </td>
                    <td> XXL </td>
                </tr>
                <tr>
                    <td> Россия </td>
                    <td> 40-42 </td>
                    <td> 44-46 </td>
                    <td> 48-50 </td>
                    <td> 50-52 </td>
                    <td> 54 </td>
                    <td> 56 </td>
                </tr>
            </tbody>
        </table>

        <table id="hisShirts" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Мужские рубашки </h3> </caption>
            <thead> <tr> <th colspan="9" style="text-align: center;"> Размер ворота </th> </tr> </thead>
            <tbody>
                <tr>
                    <td> США </td>
                    <td> 141/2 </td>
                    <td> 15 </td>
                    <td> 151/2 </td>
                    <td> 16 </td>
                    <td> 161/2 </td>
                    <td> 17 </td>
                    <td> 171/2 </td>
                    <td> 18 </td>

                </tr>
                <tr>
                    <td> Россия </td>
                    <td> 37 </td>
                    <td> 38 </td>
                    <td> 39-40 </td>
                    <td> 41 </td>
                    <td> 42 </td>
                    <td> 43 </td>
                    <td> 44 </td>
                    <td> 45 </td>
                </tr>
            </tbody>
        </table>

        <table id="hisUnderware" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Мужское белье </h3> </caption>
            <tbody>
                <tr>
                    <td> США </td>
                    <td> XS </td>
                    <td> S </td>
                    <td> M </td>
                    <td> L </td>
                    <td> XL </td>
                    <td> XXL </td>
                    <td> XXXL </td>
                </tr>
                <tr>
                    <td> Россия </td>
                    <td> 44 </td>
                    <td> 46 </td>
                    <td> 48 </td>
                    <td> 50 </td>
                    <td> 52 </td>
                    <td> 54 </td>
                    <td> 56 </td>
                </tr>
            </tbody>
        </table>

        <table id="hisJeans" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Мужские джинсы </h3> </caption>
            <tbody>
                <tr>
                    <td> Размер мужских джинсов определяется двумя параметрами: размером по талии и длиной по внутреннему шву, и записывается зачастую в формате 32х34, где первое число означает размер по талии, второе – длина по внутреннему шву.<br>
                            Размеры указаны в дюймах. Чтобы узнать свой размер, разделите свои мерки талии и длины по внутреннему шву в сантиметрах на 2.54.</td>
                </tr>

            </tbody>
        </table>
    </div>

    <div id="kidD" style="padding-top: 30px;">
        <table id="kidShoes1" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Детская обувь (0 - 1.5 лет) </h3> </caption>
            <thead> <tr>
                <th style="text-align: center;"></th>
                <th colspan="10" style="text-align: center;"> 0 – 1 год </th> <th colspan="5" style="text-align: center;"> 1 – 1.5 лет </th> </tr> </thead>
            <tbody>
                <tr>
                    <td> США </td>
                    <td> 0.5 </td>
                    <td> 1 </td>
                    <td> 1.5 </td>
                    <td> 2 </td>
                    <td> 2.5 </td>
                    <td> 3 </td>
                    <td> 3.5 </td>
                    <td> 4 </td>
                    <td> 4.5 </td>
                    <td> 5 </td>
                    <td> 5.5 </td>
                    <td> 6 </td>
                    <td> 6.5 </td>
                    <td> 7 </td>
                    <td> 7.5 </td>
                </tr>
                <tr>
                    <td> Россия </td>
                    <td> 16 </td>
                    <td> 16 </td>
                    <td> 17 </td>
                    <td> 17 </td>
                    <td> 18 </td>
                    <td> 18 </td>
                    <td> 19 </td>
                    <td> 19 </td>
                    <td> 20 </td>
                    <td> 20 </td>
                    <td> 21 </td>
                    <td> 22 </td>
                    <td> 22 </td>
                    <td> 23 </td>
                    <td> 23 </td>
                </tr>
            </tbody>
        </table>

        <table id="kidShoes2" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Детская обувь (2 - 6 лет) </h3> </caption>
            <thead> <tr>
                <th style="text-align: center;"></th>
                <th colspan="3" style="text-align: center;"> 2 года </th>
                <th colspan="3" style="text-align: center;"> 3 года </th>
                <th colspan="2" style="text-align: center;"> 4 года </th>
                <th colspan="2" style="text-align: center;"> 5 лет </th>
                <th colspan="2" style="text-align: center;"> 6 лет </th>
            </tr> </thead>
            <tbody>
                <tr>
                    <td> США </td>
                    <td> 8 </td>
                    <td> 8.5 </td>
                    <td> 9 </td>
                    <td> 9.5 </td>
                    <td> 10 </td>
                    <td> 10.5 </td>
                    <td> 11 </td>
                    <td> 11.5 </td>
                    <td> 12 </td>
                    <td> 12.5 </td>
                    <td> 13 </td>
                    <td> 13.5 </td>
                </tr>
                <tr>
                    <td> Россия </td>
                    <td> 24 </td>
                    <td> 25 </td>
                    <td> 25 </td>
                    <td> 26 </td>
                    <td> 27 </td>
                    <td> 27 </td>
                    <td> 28 </td>
                    <td> 29 </td>
                    <td> 30 </td>
                    <td> 30 </td>
                    <td> 31 </td>
                    <td> 31 </td>
            </tbody>
        </table>

        <table id="kidShoes3" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Подростковая обувь (7 – 10 лет) </h3> </caption>
            <thead> <tr>
                <th style="text-align: center;"></th>
                <th colspan="7" style="text-align: center;"> 7 лет </th>
                <th colspan="3" style="text-align: center;"> 8 лет </th>
                <th colspan="2" style="text-align: center;"> 9 лет </th>
                <th colspan="1" style="text-align: center;"> 10 лет </th>
            </tr> </thead>
            <tbody>
                <tr>
                    <td> США </td>
                    <td> 1 </td>
                    <td> 1.5 </td>
                    <td> 2 </td>
                    <td> 2.5 </td>
                    <td> 3 </td>
                    <td> 3.5 </td>
                    <td> 4 </td>
                    <td> 4.5 </td>
                    <td> 5 </td>
                    <td> 5.5 </td>
                    <td> 6 </td>
                    <td> 6.5 </td>
                    <td> 7 </td>
                </tr>
                <tr>
                    <td> Россия </td>
                    <td> 32 </td>
                    <td> 33 </td>
                    <td> 33 </td>
                    <td> 34 </td>
                    <td> 34 </td>
                    <td> 35 </td>
                    <td> 36 </td>
                    <td> 36 </td>
                    <td> 37 </td>
                    <td> 37 </td>
                    <td> 38 </td>
                    <td> 38 </td>
                    <td> 39 </td>
            </tbody>
        </table>

        <table id="kidClothes" class="table table-condensed table-striped table-bordered">
            <caption> <h3> Детская одежда </h3> </caption>
            <tbody>
                <tr>
                    <td>
                            Возле размеров детской одежды может стоять буква “Т”, т.е. “лет”. Например, 2Т означает 2 года.
                            Размеры для малышей указаны по количеству месяцев, как показано ниже.
                            0-3
                            0-6
                            3-6
                            3-9
                            6-9
                            9-12
                            12-18
                            18-24
                            12-24

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>



</div>

<script type="text/javascript" src="/assets/coffee/size_charts.js"></script>