@(message: String)(implicit sessionInfo: controllers.SessionInfo)

@main("brand 13") {

    <h3>
        <div style="text-align: left;"> ЕСЛИ ВЫ ЛЮБИТЕ ОДЕВАТЬСЯ МОДНО И СО ВКУСОМ </div>
        <div style="text-align: center;"> И УСТАЛИ ОТ “НАКРУТОК” РОССИЙСКИХ МАГАЗИНОВ, </div>
        <div style="text-align: right;"> МЫ К ВАШИМ УСЛУГАМ </div>

    </h3>


    <p>
            Американская компания BRAND13 является продавцом брэндовых товаров из США по доступным ценам.
            Наша главная цель – открыть доступ россиянам к американским распродажам самых популярных брэндов одежды, обуви, аксессуаров и прочего.
            Наш главный приоритет - удовлетворенность наших клиентов
    </p>


    <h3> Наши преимущества: </h3>

    <ul>
        <li> мы работаем только с официальными магазинами в США и производителями.</li>

        <li> через нас вы получаете доступ к РАСПРОДАЖАМ США (Многие американские магазины блокируют доступ к распродажам и акциям пользователям других стран, либо не осуществяют доставку в Россию) </li>

        <li> в нашем магазине чрезвычайно простая, понятная и быстрая процедура оформления заказа. Заказ делается в считанные секунды, как в обычном Интернет-магазине.</li>

        <li> мы предоставляем своим клиентам самый удобный, простой и безопасный вид оплаты - Кредитными картами российских банков прямо на сайте. (В отличие от многих посреднических фирм, которые принимают либо банковские переводы, либо Вестерн Унион, Мани Грам и пр.) </li>

        <li> мы принимаем возврат товара, если он в оригинальной упаковке и с ценниками, не задавая лишних вопросов (отправка возврата оплачивается покупателем) </li>

        <li> Наша компания, сайт, а также финансовое учреждение, принимаюшее и обрабатывающее оплату, находятся в США, что обеспечивает повышенную безопасность всех платежей, производимих вами на нашем сайте.</li>

        <li> Заказывая у нас, вы получаете уникальную возможность положить товары различних брэндов в одну корзину, а затем оформить единый заказ, что помимо удобства еще и удешевляет стоимость доставки в Россию.</li>
    </ul>



    <br> <br> <br>

}