@(ops: List[persistence.Question], user: String, page: String)

@mainAdmin("ADMIN :: QUESTIONS", user, page) {

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>questions</th>
            </tr>
        </thead>
        <tbody>
        @for((question, index) <- ops.zipWithIndex) {
            <tr class="orderRow">
                <td>
                    <table class="table-condensed error" style="width:100%;height:35px;">
                        <tr class="error">
                            <td style="width:130px;vertical-align:middle;">@persistence.Util.formatDateTime(question.dateTime.get)</td>
                            <td style="width:200px;vertical-align:middle;">@question.email</td>

                            <td style="width:900px;vertical-align:middle;">@question.question</td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
        </tbody>
    </table>
}