@(sessionId: String)

    <table class="table table-bordered" >
    @for(item <- persistence.Cart.findOrderCart(sessionId).cartItems) {
        <tr>
            <td style="width:150px;">@item.collection</td>
            <td style="width:70px;">@item.price</td>
            <td style="width:20px;">@item.quantity</td>
            <td style="width:200px;">
            @for(variation <- item.variations) {
                @variation.variationName : @variation.variationValue <br>
            }
            </td>
            <td style="width:200px;">
                <a href = "@persistence.Item.getItem(item.itemId).itemUrl" target="_blank">@persistence.Item.getItem(item.itemId).title</a>
            </td>
            <td style="width:400px;">
                @if(persistence.Item.getItem(item.itemId).state == 0) {
                    <button class="btn btn-danger" id="button1_@item.itemId">not ordered</button>
                    <a class="invisible" id="link1_@item.itemId" href="/admin/ordered/@item.collection/@item.itemId">q</a>
                }
                @if(persistence.Item.getItem(item.itemId).state == 1) {
                    <button class="btn btn-info" id="button2_@item.itemId">not received</button>
                    <a class="invisible" id="link2_@item.itemId" href="/admin/received/@item.collection/@item.itemId">q</a>
                }
                @if(persistence.Item.getItem(item.itemId).state == 2) {
                    not shipped
                }
            </td>

        </tr>
    }
    </table>
