@(cartItems: List[persistence.CartItem])(implicit sessionInfo: controllers.SessionInfo)

@main("brand 13") {


<div class="clearfix" id="content" role="main">
    <div class="clearfix page-container">
        @if(!cartItems.isEmpty) {

        <form action="/cart" method="post" id="cartform">
            <table>
                <tbody>
                <tr class="cart-table-header smooth cart-row">
                    <td>продукт</td>
                    <td>&nbsp;</td>
                    <td>цена</td>
                    <td>количество</td>
                    <td>всего</td>
                    <td>&nbsp;</td>
                </tr>


                @for((item, index) <- cartItems.zipWithIndex) {
                <tr class="cart-row">
                    <td class="cart-item">
                        <a href="/collection/@item.collection/item/@item.itemId">
                            <img src="@persistence.Item.getItem(item.itemId).get.mainPicture"/>
                        </a>
                    </td>
                    <td class="cart-detail">
                        <h2><a href="/collection/@item.collection/item/@item.itemId">@util.Translator.translate(persistence.Item.getItem(item.itemId).get.title)</a>
                        </h2>

                        @for((variation, indexVariation) <- item.variations.zipWithIndex){
                        <input type="hidden" id="items[@index].variations[@indexVariation].name"
                               name="items[@index].variations[@indexVariation].name" value="@variation.variationName">
                        <input type="hidden" id="items[@index].variations[@indexVariation].value"
                               name="items[@index].variations[@indexVariation].value" value="@variation.variationValue">
                            @util.Translator.translate(variation.variationName) : @util.Translator.translate(variation.variationValue) <br>
                        }
                    </td>
                    <td class="cart-price">@(item.price)
                        <input type="hidden" id="items[@index].hash" name="items[@index].hash" value="@item.toHash">
                        <input type="hidden" id="items[@index].itemId" name="items[@index].itemId" value="@item.itemId">
                    </td>

                    <td class="cart-quantity"><input type="text" class="field styled-input"
                                                     name="items[@index].quantity" id="items[@index].quantity"
                                                     value="@item.quantity">
                        <input type="submit" id="update-cart" name="update" value="обновить"></td>
                    <td class="cart-total">@(item.price * item.quantity)</td>
                    <td class="cart-remove"><a href="/cart/remove/@item.toHash" class="remove-glyph" title="remove"></a>
                    </td>
                </tr>

                }
                </tbody>
            </table>


            <div id="cart-meta">
                <div id="cart-subtotal"> итого <div id="subtotal" style="float:right; padding-left: 25px; font-size: 1em;">@cartItems.map(x => x.price * x.quantity).sum </div>  <input type="hidden" id="subtotalPriceInput" name="subtotalPriceInput"> </div>

                <div id="estimated-shipping">

                    <div style="float:left;">
                        <select id="shippingOption" name="shippingOption" style="margin-right:5px; ">
                            <option value="---"> -- способ доставки -- </option>
                            @for(shippingOption <- util.UI.generateShippingOptions(cartItems)) {
                                <option value="@shippingOption._1"> @shippingOption._2 </option>
                            }
                        </select>

                    </div>
                    <div id="shippingPrice" style="float:right;text-align: right;font-size: 1.5em; padding-top: 8px;"></div>
                    <input type="hidden" id="shippingPriceInput" name="shippingPriceInput">

                    <div id="insurance" style="padding-top: 20px; float:left; visibility: hidden; width: 210px; ">
                        <div id="insuranceOption" style="width: 170px; border: 1;">
                            <div style="float:left; height: 15px;">
                                    застраховать
                            </div>
                            <div style="float:left; padding-left: 8px; height: 15px;">
                                <input type="checkbox" id="insure" value="@util.Calculator.calculateInsurance(cartItems.map(x => x.price * x.quantity).sum)">
                            </div>
                        </div>
                    </div>
                    <div id="insurancePrice" style="float:right;text-align: right;font-size: 1.5em; padding-top: 12px;"></div>
                    <input type="hidden" id="insurancePriceInput" name="insurancePriceInput">
                </div>

                <br>

                <div id="grand-total" style="font-size: 2em; padding-bottom: 15px;"></div>
                <input id="checkout-button" class="styled-submit smooth" type="submit" name="update" value="оформить">
            </div>
            <!-- #cart-meta -->


            <!-- <div id="cart-notes">
        <p>коментарии</p>
        <textarea class="styled-input" id="cart-notes-area" name="note"></textarea>
    </div> #cart-notes -->
        </form>
        } else {
        <h1 class="page-title">корзина пуста</h1>
        }
        <!-- if cart.item_count > 0  -->
    </div>
    <!-- .clearfix page-container -->

    <div id="breadcrumbs" class="accent-text">
        <span><a id="continue-shopping" style="font-size:1.5em;" href="/">← продолжить шоппинг</a></span>
    </div>
</div>

    <script type="text/javascript" src="/assets/coffee/cart.js"></script>
    <script type="text/javascript" src="/assets/coffee/validator.js"></script>
}