@(cartItems: List[persistence.CartItem])(implicit sessionInfo: controllers.SessionInfo)

@main("brand 13") {


    <div class="clearfix" id="content" role="main">
        <div class="clearfix page-container">
            @if(!cartItems.isEmpty) {

                <h1 class="page-title">корзина</h1>

                <form action="/cart" method="post" id="cartform">
                    <table>
                        <tbody>
                            <tr class="cart-table-header smooth cart-row">
                                <td>продукт</td>
                                <td>&nbsp;</td>
                                <td>цена</td>
                                <td>количество</td>
                                <td>всего</td>
                                <td>&nbsp;</td>
                            </tr>


                            @for((item, index) <- cartItems.zipWithIndex) {
                                <tr class="cart-row">
                                    <td class="cart-item">
                                        <a href="/collection/@item.collection/item/@item.itemId">
                                        <img src="@(new persistence.CollectionM(item.collection).Item.getItem(item.itemId).mainPicture)"/>
                                        </a>
                                    </td>
                                    <td class="cart-detail">
                                        <h2><a href="/collection/@item.collection/item/@item.itemId">@(new persistence.CollectionM(item.collection).Item.getItem(item.itemId).title)</a></h2>

                                        @for((variation, indexVariation) <- item.variations.zipWithIndex){
                                            <input type="hidden" id="items[@index].variations[@indexVariation].name" name="items[@index].variations[@indexVariation].name" value="@variation.variationName">
                                            <input type="hidden" id="items[@index].variations[@indexVariation].value" name="items[@index].variations[@indexVariation].value" value="@variation.variationValue">
                                            @variation.variationName : @variation.variationValue <br>
                                        }
                                    </td>
                                    <td class="cart-price">@(item.price)
                                    <input type="hidden" id="items[@index].hash" name="items[@index].hash" value="@item.toHash">
                                    <input type="hidden" id="items[@index].itemId" name="items[@index].itemId" value="@item.itemId"></td>

                                    <td class="cart-quantity"><input type="text" class="field styled-input" name="items[@index].quantity" id="items[@index].quantity" value="@item.quantity"></td>
                                    <td class="cart-total">@(item.price * item.quantity)</td>
                                    <td class="cart-remove"><a href="/cart/remove/@item.toHash" class="remove-glyph" title="remove"></a></td>
                                </tr>

                            }
                        </tbody>
                    </table>


                    <div id="cart-meta">
                        <h3 id="cart-subtotal">итого <em>@cartItems.map(x => x.price * x.quantity).sum</em></h3>
                        <h3 id="estimated-shipping">+ доставка <em>250.00</em></h3>

                        <input type="submit" id="update-cart" name="update" value="обновить">
                        <span class="or"> или </span>
                        <input id="checkout-button" class="styled-submit smooth" type="submit" name="update" value="оформить">
                    </div> <!-- #cart-meta -->


                    <!-- <div id="cart-notes">
                <p>коментарии</p>
                <textarea class="styled-input" id="cart-notes-area" name="note"></textarea>
            </div> #cart-notes -->
                </form>
            } else {
                <h1 class="page-title">корзина пуста</h1>
            }
        <!-- if cart.item_count > 0  -->
        </div> <!-- .clearfix page-container -->

        <div id="breadcrumbs" class="accent-text">
            <span><a id="continue-shopping" style="font-size:1.5em;" href="/">← продолжить шоппинг</a></span>
        </div>
    </div>


}