@(collection: String, items: List[persistence.Item], page: Int, pagerSize: Int)(implicit sessionInfo: controllers.SessionInfo)



@main("brand 13") {

    <div class = "collectionHeader">

        @menu(collection)
    </div>
    <div class="collectionSubHeader">

        @subfilter(pagerSize, collection)

    </div>

    <div class="clearfix" id="content" role="main">
        <div>
            <ul id="coll-product-list" class="clearfix">
            @for(item <- items) {

                <li class="three-per-row default clearfix">
                    <div class="coll-image-wrap">
                        <a href="/collection/@collection/item/@item.itemId">
                            <img src="@item.mainPicture"  style="height:330px; width:auto; opacity: 1;">
                        </a>
                    </div> <!-- .coll-image-wrap -->
                    <div class="coll-prod-caption">
                        <div class="coll-prod-meta ">
                            <a href="/collection/@collection/item/@item.itemId" class="coll-prod-title">
                            @item.title
                            </a>

                            <p class="coll-prod-price accent-text">
                                цена: <span style="color:green;">@util.Calculator.calculateFinalPrice(item.price)</span>
                                @if(item.originalPrice > 0) {
                                    <span style="text-decoration: line-through; color:red;">@util.Calculator.calculateFinalPrice(item.originalPrice)</span>
                                }

                            <a href="@item.itemUrl" style="color:white;">@item.itemId</a>
                            </p>
                        </div> <!-- .coll-prod-meta -->

                    </div>
                </li>


            }
            </ul>
        </div>
        @pagination(page, pagerSize)
        <div class="accent-text" id="breadcrumbs">
            <span class="sep">/</span> <span><a href="/collections">коллекции</a></span>
            <span class="sep">/</span> <span>GUESS</span>
        </div>
    </div>

    <script type="text/javascript" src="/assets/coffee/collection.js"></script>
}