@(items: List[persistence.Item])(implicit sessionInfo: controllers.SessionInfo)

@main("brand 13") {


    <div class="clearfix" id="content" role="main">

    <ul class="clearfix" id="collection-header">
        <li id="collection-title">

            <h1 class="page-title">GUESS</h1></li>

        <li class="clearfix filter">
            <p>коллекции</p>
            <select class="special-select coll-filter" name="coll-filter" size="1" style="position: absolute; opacity: 0; font-size: 14px; width: 135px; height: 28px;">
                <option value="">All</option>


                <option value="cotton">GUESS</option>
            </select> <span class="custom-style-select-box" style="display: inline-block;">
            <span class="custom-style-select-box-inner" style="width: 105px; display: inline-block;">
                All
            </span>
        </span>
        </li>
    </ul>

    <ul id="coll-product-list" class="clearfix">


    @for(item <- items) {

        <li class="four-per-row default clearfix" style="height: 251px;">
            <div class="coll-image-wrap">
                <a href="/item/@item.itemId">
                    <img src="@item.mainPicture" alt="shirt" style="height: 191px; width: auto; opacity: 1;">
                </a>
            </div> <!-- .coll-image-wrap -->
            <div class="coll-prod-caption">
                <div class="coll-prod-meta ">
                    <a href="/item/@item.itemId" class="coll-prod-title">
                    @item.title
                    </a>

                    <p class="coll-prod-price accent-text">
                        цена: <span style="color:green;">@util.Calculator.calculateFinalPrice(item.price)</span>
                        @if(item.originalPrice > 0) {
                            <span style="text-decoration: line-through; color:red;">@util.Calculator.calculateFinalPrice(item.originalPrice)</span>
                        }
                    </p>
                    @item.price
                    <a href="@item.itemUrl">ebay</a>
                </div> <!-- .coll-prod-meta -->
                <a class="coll-prod-buy styled-small-button" href="/item/@item.itemId">купить</a>
            </div>
        </li>


    }

    </ul>

        <div class="accent-text" id="breadcrumbs">
            <span class="sep">/</span> <span><a href="/collections">коллекции</a></span>
            <span class="sep">/</span><span>GUESS</span>
        </div>
    </div>

}