@(message: String)(implicit sessionInfo: controllers.SessionInfo)

@main("brand 13") {

    <p>
        <span style ="padding-right: 50px;"><a href="/collection/guess_outlet"><img src="/assets/images/guess_logo.jpg" width="250px;" style="border: 0;"/></a></span>
        <a href="/collection/mongodb"><img src="/assets/images/victorias_secret_logo.gif" width="250px;" style="border: 0;"/></a>
        <span style ="padding-right: 50px;margin-top: 150px;"><a href="/collection/calvinklein"><img src="/assets/images/calvin_klein_logo.jpg" width="250px;" style="border: 0;"/></a></span>

        <br> <br> <br> <br> <br>

        <span style ="padding-right: 50px;margin-top: 150px;"><a href="/guess"><img src="/assets/images/prada-logo.jpg" width="250px;" style="border: 0;"/></a></span>
        <span style ="padding-right: 50px;margin-top: 150px;"><a href="/collection/tommyhilfiger"><img src="/assets/images/tommy-logo.jpeg" width="250px;" style="border: 0;"/></a></span>
        <a href="/collection/watchgrabber"><img src="/assets/images/carters-logo.jpg" width="250px;" style="border: 0;"/></a>
        <br> <br> <br> <br> <br> <br> <br> <br>
    </p>

}