@(message: String)(implicit sessionInfo: controllers.SessionInfo)

@main("brand 13") {


        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <a href="/collection/guess_outlet/1">
                    <img src="/assets/images/guess_ad.jpg" alt=""/>
                </a>


                <a href="/collection/calvinklein/1">
                    <img src="/assets/images/ck_ad.jpg" alt=""/>
                </a>


                    <a href="/collection/aeropostale/1">
                        <img src="/assets/images/aero_ad.jpg"  alt=""  />
                    </a>

                <a href="/collection/tommyhilfiger/1">
                    <img src="/assets/images/tommy_ad2.jpg" alt="" />
                </a>

                <a href="/collection/watchgrabber/1">
                    <img src="/assets/images/watch_ad.jpg"  alt="" />
                </a>


                <a href="/collection/josabank/1">
                    <img src="/assets/images/jos_ad.jpg"  alt="" />
                </a>

            </div>


        </div>



        <span style ="padding-right: 50px;"><a href="/collection/guess_outlet/1"><img src="/assets/images/guess_logo.jpg" width="250px;" style="border: 0;"/></a></span>
        <a href="/collection/mongodb/1"><img src="/assets/images/victorias_secret_logo.gif" width="250px;" style="border: 0;"/></a>
        <span style ="padding-right: 50px;margin-top: 150px;"><a href="/collection/calvinklein/1"><img src="/assets/images/calvin_klein_logo.jpg" width="250px;" style="border: 0;"/></a></span>

        <br> <br> <br> <br> <br>

        <span style ="padding-right: 50px;margin-top: 150px;"><a href="/guess/1"><img src="/assets/images/prada-logo.jpg" width="250px;" style="border: 0;"/></a></span>
        <span style ="padding-right: 50px;margin-top: 150px;"><a href="/collection/tommyhilfiger/1"><img src="/assets/images/tommy-logo.jpeg" width="250px;" style="border: 0;"/></a></span>
        <a href="/collection/watchgrabber/1"><img src="/assets/images/carters-logo.jpg" width="250px;" style="border: 0;"/></a>
        <br> <br> <br> <br> <br>

        <span style ="padding-right: 50px;margin-top: 150px;"><a href="/collection/aeropostale/1"><img src="/assets/images/Aeropostale-logo.jpg" width="250px;" style="border: 0;"/></a></span>
        <span style ="padding-right: 50px;margin-top: 150px;"><a href="/guess/1"><img src="/assets/images/timberland_logo.jpg" width="250px;" style="border: 0;"/></a></span>

        <span style ="padding-right: 50px;margin-top: 150px;"><a href="/collection/josabank/1"><img src="/assets/images/josabank_logo.gif" width="250px;" style="border: 0;"/></a></span>


        <br> <br> <br>


    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/nivo-slider.css")">
    <script src="@routes.Assets.at("javascripts/jquery.nivo.slider.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/coffee/slider.js"></script>
}