@(message: String)(implicit sessionInfo: controllers.SessionInfo)

@main("brand 13") {
    @selector(filter = false)
    <br>
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="/assets/images/ads/front.jpg" alt=""/>

            <a href="/collection/reedsjewelers/1">
                <img src="/assets/images/ads/reeds.jpg" alt=""/>
            </a>

            <a href="/collection/guess_outlet/1">
                <img src="/assets/images/ads/guess.jpg" alt=""/>
            </a>


            <a href="/collection/underarmour/1">
                <img src="/assets/images/ads/underarmour.jpg" alt=""/>
            </a>


            <a href="/collection/calvinklein/1">
                <img src="/assets/images/ads/ck.jpg" alt=""/>
            </a>

            <a href="/collection/aeropostale/1">
                <img src="/assets/images/ads/aero.jpg" alt=""/>
            </a>

            <a href="/collection/tommyhilfiger/1">
                <img src="/assets/images/ads/tommy.jpg" alt=""/>
            </a>

            <a href="/collection/watches/1">
                <img src="/assets/images/ads/watches.jpg" alt=""/>
            </a>


            <a href="/collection/josabank/1">
                <img src="/assets/images/ads/josabank.jpg" alt=""/>
            </a>
        </div>
    </div>
    <br>

    <!--
    <div class="main_nav">
        <a href="/collection/guess_outlet/1"> <img src="/assets/images/icons/guess_logo.jpg" style="border: 0;"/> </a>
        <a href="/collection/calvinklein/1"> <img src="/assets/images/icons/ck.jpg" style="border: 0;"/> </a>


        <a href="/collection/watches/1"> <img src="/assets/images/icons/watches.jpg" style="border: 0;"/> </a>
        <a href="/collection/tommyhilfiger/1"> <img src="/assets/images/icons/tommy-logo.jpeg" style="border: 0;"/> </a>


        <a href="/collection/aeropostale/1"> <img src="/assets/images/icons/aero.jpg" style="border: 0;"/> </a>
        <a href="/guess/1"> <img src="/assets/images/icons/timberland_logo.jpg" style="border: 0;"/> </a>

        <a href="/collection/josabank/1"> <img src="/assets/images/icons/josabank_logo.gif" style="border: 0;"/> </a>

        <a href="/collection/xtremelooksforkids/1"> <img src="/assets/images/icons/gymboree_logo.gif" style="border: 0;"/> </a>

        <a href="/collection/reedsjewelers/1"> <img src="/assets/images/icons/jewelry.jpg" style="border: 0;"/> </a>

        <a href="/collection/sunglasses/1"> <img src="/assets/images/icons/glasses.jpg" style="border: 0;"/> </a>
        <a href="/collection/underarmour/1"> <img src="/assets/images/icons/underarmour.jpg" style="border: 0;"/> </a>

        <a href="/collection/shopwss/1"> <img src="/assets/images/icons/shoes.jpg" style="border: 0;"/> </a>
        <a href="/collection/ebags/1"> <img src="/assets/images/icons/bags.jpg" style="border: 0;"/> </a>

    </div>
-->
    <br> <br>


    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/nivo-slider.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/menu.css")">
    <script src="@routes.Assets.at("javascripts/jquery.nivo.slider.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/coffee/slider.js"></script>
}