@(cartItems: List[persistence.CartItem])(implicit sessionInfo: controllers.SessionInfo)



@main("brand 13") {


    <div class="clearfix" id="content" role="main" style="text-align:center;">



        <form action="/payment" method="post" id="payment-form" style="display: none;" class="form-horizontal">


        <input type="hidden" id="total" name="total" value="@cartItems.map(x => x.price * x.quantity).sum">

            <div class="row-fluid">
                <div class="span6">
                    <h2>доставка</h2><br>
                    <div class="control-group well" >
                        <label class="control-label" for="lastName">Фамилия</label>
                        <div class="controls controls-row">
                        <input type="text" name="lastName" id="lastName" class="required span6" style="height: 10px;" placeholder="Фамилия"/>
                        </div>

                        <label class="control-label" for="firstName">Имя</label>
                        <div class="controls controls-row">
                        <input type="text" name="firstName" id="firstName" class="required span6" style="height: 10px;" placeholder="Имя"/>
                        </div>

                        <label class="control-label" for="phone">Телефон</label>
                        <div class="controls controls-row">
                        <input type="text" name="phone" id="phone" class="required span6" style="height: 10px;" placeholder="Телефон"/>
                        </div>

                        <label class="control-label" for="email">Email</label>
                        <div class="controls controls-row">
                            <input type="text" name="email" id="email" class="required span6" style="height: 10px; " placeholder="Email">
                        </div>


                        <label class="control-label" for="country">Страна</label>
                        <div class="controls controls-row">
                            <input type="text" name="country" id="country" class="required span6" style="height: 10px;" placeholder="Страна">
                        </div>

                        <label class="control-label" for="city">Город</label>
                        <div class="controls controls-row">
                            <input type="text" name="city" id="city" class="required span6" style="height: 10px;" placeholder="Город">
                        </div>

                        <label class="control-label" for="region">Регион</label>
                        <div class="controls controls-row">
                            <input type="text" name="region" id="region" class="required span6" style="height: 10px;" placeholder="Регион">
                        </div>


                        <label class="control-label" for="street">Улица</label>
                        <div class="controls controls-row">
                            <input type="text" name="street" id="street" class="required span6" style="height: 10px;" placeholder="Улица">
                        </div>


                        <label class="control-label" for="building">Дом</label>
                        <div class="controls controls-row">
                            <input type="text" name="building" id="building" class="required span4" style="height: 10px;" placeholder="Дом">
                        </div>

                        <label class="control-label" for="apt">Квартира</label>
                        <div class="controls controls-row">
                            <input type="text" name="apt" id="apt" class="required span4" style="height: 10px;" placeholder="Квартира">
                        </div>

                        <label class="control-label" for="zip">Индекс</label>
                        <div class="controls controls-row">
                            <input type="text" name="zip" id="zip" class="required span2" style="height: 10px;" placeholder="Индекс">
                        </div>
                    </div>
                </div>

                <div class="span6" >
                    <h2>оплата</h2><br>

                    <div class="control-group  well">

                        <label class="control-label">Номер карты</label>
                        <div class="controls controls-row">
                        <input style="height: 10px;" type="text" size="20" autocomplete="off" class="card-number span6" placeholder="Номер карты"/>
                        </div>

                        <label class="control-label">Код безопасности</label>
                        <div class="controls controls-row">
                        <input style="height: 10px; width: 50px;" type="text" size="20" autocomplete="off" maxlength="4" class="card-cvc  span4" placeholder="CVC"/>
                        </div>

                        <label class="control-label">Expiration</label>
                        <div class="controls controls-row">
                        <input style="width: 45px; height: 10px;" type="text" maxlength="2" size="2" class="card-expiry-month span4" placeholder="MM"/>
                            <span class="span1">/</span>
                        <input style="width: 60px; height: 10px;" type="text" size="4" maxlength="4" class="card-expiry-year span4" placeholder="YYYY"/>
                        </div>


                    </div><br> <br> <br>
                    <div class="controls">
                        <button type="submit" class="submit-button btn btn-primary btn-large">оплатить</button>
                    </div>
                </div>
            </div>
        </form>

        <br>
        <span class="payment-errors"></span>
    </div>

        <!--
            The easiest way to indicate that the form requires JavaScript is to show
            the form with JavaScript (otherwise it will not render). You can add a
            helpful message in a noscript to indicate that users should enable JS.
        -->
        <script>if (window.Stripe) $("#payment-form").show()</script>
        <noscript><p>JavaScript is required for the registration form.</p></noscript>
        <script src="@routes.Assets.at("javascripts/jquery.blockUI.js")" type="text/javascript"></script>


}



