@(brands: List[String])

<script src="@routes.Assets.at("coffee/selector.js")" type="text/javascript"></script>

<div class="navbar">
<div class="navbar-inner">

    <ul class="nav">

        <li class="dropdown" id="dropShe">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ДЛЯ НЕЕ<b class="caret"></b></a>

            <ul class="dropdown-menu span12">

                <li class="column-menu span3 firstcolumn">

                    <ul>
                        <li role="presentation" class="menuHeader">Одежда</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Women's Clothing"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavShe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>
                    </ul>
                </li>

                <li class="column-menu span4">

                    <ul>
                        <li role="presentation" class="menuHeader">Аксессуары</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Women's Accessories"))){
                            <li class='@util.UI.compressCategory(category)'> <a id="@category" class="categoryNavShe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Обувь</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Women's Shoes"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavShe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>

                    </ul>
                </li>

                <li class="column-menu span5">

                    <ul>

                        <li role="presentation" class="menuHeader">Бижутерия и ювелирные изделия</li>
                        <li role="presentation" class="divider"></li>

                        <li><a id="Bands" class="categoryNavShe" href="#"><span class="pull-right"></span>Браслеты</a></li>
                        <li><a id="Wedding & Anniversary Bands:Other" class="categoryNavShe" href="#"><span class="pull-right"></span>Kольца</a></li>
                        <li><a id="Earrings" class="categoryNavShe" href="#"><span class="pull-right"></span>Cерьги</a></li>
                        <li><a id="Necklaces" class="categoryNavShe" href="#"><span class="pull-right"></span>Oжерелья и кулоны</a></li>
                        <li><a id="Pendants" class="categoryNavShe" href="#"><span class="pull-right"></span>Подвески и браслеты с подвесками</a></li>
                        <li><a id="Fine Jewelry:Other" class="categoryNavShe" href="#"><span class="pull-right"></span>Другое</a></li>
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Часы</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Wristwatches"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavShe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Сумки</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Women's Handbags & Bags"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavShe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Унисекс</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Unisex Accessories"))){
                            <li class='@util.UI.compressCategory(category)'> <a id="@category" class="categoryNavShe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                    </ul>
                </li>
            </ul>

        </li>



        <li class="dropdown" id="dropHe">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ДЛЯ НЕГО<b class="caret"></b></a>
            <ul class="dropdown-menu span12">

                <li class="column-menu span3 firstcolumn">

                    <ul>
                        <li role="presentation" class="menuHeader">Одежда</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Men's Clothing"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavHe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>
                    </ul>
                </li>

                <li class="column-menu span4">

                    <ul>
                        <li role="presentation" class="menuHeader">Аксессуары</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Men's Accessories"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavHe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>


                    </ul>
                </li>

                <li class="column-menu span5">
                    <ul>
                        <li role="presentation" class="menuHeader">Обувь</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Men's Shoes"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavHe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Часы</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Wristwatches"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavHe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Унисекс</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Unisex Accessories"))){
                            <li class='@util.UI.compressCategory(category)'> <a id="@category" class="categoryNavShe" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown" id="dropBoy">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ДЛЯ МАЛЬЧИКОВ<b class="caret"></b></a>
            <ul class="dropdown-menu span7">

                <li class="column-menu span3 firstcolumn">

                    <ul>
                        <li role="presentation" class="menuHeader">Одежда</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Boys' Clothing (Sizes 4 & Up)"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavBoy" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>
                    </ul>
                </li>

                <li class="column-menu span4">

                    <ul>

                        <li role="presentation" class="menuHeader">Обувь</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Boys' Shoes"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavBoy" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Аксессуары</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Boys' Accessories"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavBoy" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>
                    </ul>
                </li>

            </ul>
        </li>

        <li class="dropdown" id="dropGirl">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ДЛЯ ДЕВОЧЕК<b class="caret"></b></a>
            <ul class="dropdown-menu span7">

                <li class="column-menu span3 firstcolumn">

                    <ul>
                        <li role="presentation" class="menuHeader">Одежда</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Girls' Clothing (Sizes 4 & Up)"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavGirl" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>
                    </ul>
                </li>

                <li class="column-menu span4">

                    <ul>

                        <li role="presentation" class="menuHeader">Обувь</li>
                        <li role="presentation" class="divider"></li>


                            <li class='@util.UI.compressCategory("Kids' Clothing, Shoes & Accs:Girls' Shoes")'><a id="Clothing, Shoes & Accessories:Kids' Clothing, Shoes & Accs:Girls' Shoes" class="categoryNavGirl" href="#">Обувь
                            <span class="pull-right"></span></a></li>

                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Бижутерия</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Children's Jewelry"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavGirl" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Аксессуары</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Girls' Accessories"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavGirl" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>




                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown" id="dropKid">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ДЛЯ МАЛЫШЕЙ<b class="caret"></b></a>
            <ul class="dropdown-menu span6">

                <li class="column-menu span3 firstcolumn">

                    <ul>

                        <li role="presentation" class="menuHeader">Одежда для мальчиков</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c =>  c.contains("Boys' Clothing (Newborn-5T)"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavKid" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }

                        <li role="presentation" class="menuHeader">Аксессуары</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Baby Accessories") || c.contains("Baby:Diapering"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavKid" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>
                    </ul>
                </li>
                <li class="column-menu span3">
                    <ul>

                        <li role="presentation" class="menuHeader">Одежда для девочек</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Girls' Clothing (Newborn-5T)"))){
                            <li class='@util.UI.compressCategory(category)'><a id="@category" class="categoryNavKid" href="#">@util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span></a></li>
                        }
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Обувь</li>
                        <li role="presentation" class="divider"></li>
                        <li class='BabyShoes'><a id="Baby & Toddler Clothing:Baby Shoes" class="categoryNavKid" href="#">Обувь <span class="pull-right"></span></a></li>
                        <div class="clearfix"></div>

                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown" id="dropOther">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> РАЗНОЕ <b class="caret"></b> </a>
            <ul class="dropdown-menu span6">

                <li class="column-menu span3 firstcolumn">

                    <ul>
                        <li role="presentation" class="menuHeader"> Аксессуары </li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Travel Accessories"))) {
                            <li class='@util.UI.compressCategory(category)'> <a id="@category" class="categoryNavOther" href="#"> @util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span> </a> </li>
                        }




                        <li role="presentation" class="menuHeader"> Офис </li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Office"))) {
                            <li class='@util.UI.compressCategory(category)'> <a id="@category" class="categoryNavOther" href="#"> @util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span> </a> </li>
                        }
                        <div class="clearfix"></div>
                    </ul>
                </li>

                <li class="column-menu span3">
                    <ul>
                        <li role="presentation" class="menuHeader"> Камера - фото </li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Camera & Photo Accessories"))) {
                            <li class='@util.UI.compressCategory(category)'> <a id="@category" class="categoryNavOther" href="#"> @util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span> </a> </li>
                        }
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Сумки и чехлы</li>
                        <li role="presentation" class="divider"></li>

                        @for(category <- util.Ref.mainCategories.filter(c => c.contains("Laptop & Desktop Accessories"))) {
                            <li class='@util.UI.compressCategory(category)'> <a id="@category" class="categoryNavOther" href="#"> @util.Translator.translate(category.split(":").reverse.head)
                            <span class="pull-right"></span> </a> </li>
                        }
                        <div class="clearfix"></div>

                        <li role="presentation" class="menuHeader">Спорт</li>
                        <li role="presentation" class="divider"></li>
                        <li class='@util.UI.compressCategory("Backpacks:Other")'><a id="Backpacks:Other" class="categoryNavShe" href="#"><span class="pull-right"></span>Рюкзаки</a></li>
                        <li class='@util.UI.compressCategory("Gym, Workout & Yoga:Gym Bags")'><a id="Gym, Workout & Yoga:Gym Bags" class="categoryNavShe" href="#"><span class="pull-right"></span>Сумки для зала</a></li>

                        <div class="clearfix"></div>

                    </ul>
                </li>
                <div class="clearfix"></div>

            </ul>
        </li>


    </ul>

    @if(!brands.isEmpty) {
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li class="dropdown" id="dropBrand">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> БРЭНД <b class="caret"></b> </a>

                @if(brands.size < 2){

                    <ul class="dropdown-menu span3">
                        <li class="column-menu span3 firstcolumn">
                            <ul>
                                @for(brand <- brands) {
                                    <li class='@util.UI.compressCategory(brand)'> <a id="@brand" class="brandNav" href="#"> @brand
                                    <span class="pull-right"></span> </a> </li>
                                }
                                <div class="clearfix"></div>
                            </ul>
                        </li>

                    </ul>
                    } else {
                    <ul class="dropdown-menu span6">
                    <li class="column-menu span3 firstcolumn">
                    <ul>
                        @for(brand <- brands.take(brands.size/2)) {
                            <li class='@util.UI.compressCategory(brand)'> <a id="@brand" class="brandNav" href="#"> @brand
                            <span class="pull-right"></span> </a> </li>
                        }
                    <div class="clearfix"></div>
                    </ul>
                    </li>
                    <li class="column-menu span3">
                    <ul>
                        @for(brand <- brands.drop(brands.size/2)) {
                            <li class='@util.UI.compressCategory(brand)'> <a id="@brand" class="brandNav" href="#"> @brand
                            <span class="pull-right"></span> </a> </li>
                        }
                    <div class="clearfix"></div>
                    </ul>
                    </li>
                    </ul>
                    }


            </li>

        </ul>
    }

</div>
</div>
