@(pagerSize: Int, collection: String)


@if(collection == "watchgrabber") {

    <ul class="clearfix" id="collection-header">
    <li class="clearfix filterL">найдено: @pagerSize</li>
    <li class="clearfix filter">
    <p>брэнд</p>
    <select class="special-select coll-filter" id="size-filter" name="brand-filter" size="1" style="position: absolute; opacity: 0; font-size: 14px; width: 135px; height: 28px;">
    @for(brand <- persistence.Util.collectSpecifics(collection)) {
        <option value="">@brand</option>
    }
    </select>
} else {

    <ul class="clearfix" id="collection-header">
        <li class="clearfix filterL">найдено: @pagerSize</li>
        <li class="clearfix filter">
            <p>размер</p>
            <select class="special-select coll-filter" id="size-filteSr" name="size-filter" size="1" style="position: absolute; opacity: 0; font-size: 14px; width: 135px; height: 28px;">
            @for(size <- util.Reference.size) {
                <option value="">@size</option>
            }
            </select>

            <p style="padding-left:38px;">цвет</p>

            <select class="special-select coll-filter" name="color-filter2" id="color-filter" size="1" style="position: absolute; opacity: 0; font-size: 14px; width: 135px; height: 28px;">
            @for(color <- util.Reference.color) {
                <option value="">@color</option>
            }
            </select>
        </li>
    </ul>
}
