@(message: String)(implicit sessionInfo: controllers.SessionInfo)

@main("brand 13") {


    <h3>Процедура оформления заказа</h3>
    <ul>
        <li>кликните на Брэнд или на коллекцию, которые вас интересуют</li>

        <li>выберите товар/ы и положите его/их в корзину (обязательно сверьтесь с таблицей размеров, т.к. в США размеры отличаются от российских и европейских)</li>

        <li>когда вы сформировали свой заказ, кликните на корзину, удостоверьтесь в правильности выбранных товаров, а затем нажмите кнопку "оформить"</li>

        <li>введите ФИО, адрес доставки,</li>

        <li>выберите способ доставки</li>

        <li>ведите данные своей кредитной карты</li>

        <li>нажмите кнопку "оплатить"</li>

        <li>после оплаты дождитесь подтверждения заказа и его номера (подтверждение заказа будет также отправлено вам на емайл)</li>

        <li>после оплаты заказа, внести изменения или отменить сделанный заказ невозможно (возможен только возврат после получения), поэтому, пожалуйста, очень внимательно проверьте содержимое корзины перед оплатой</li>

        <li>из-за наличия весовых ограничений почтовой службы США, один заказ не может содержать более 20 товаров</li>

        <li>по всем интересующим вас вопросам и проблемам связывайтесь с нами в разделе "вопросы", мы ответим вам в течении 24 часов (кроме воскресенья)</li>
    </ul>

    <h3>Оплата и Доставка</h3>

    <ul>
        <li>мы принимаем оплату в рублях и долларах США кредитными картами Visa, Master Card, American express, Discover</li>
    <li>
    доставка заказов осушествляется государственной почтой США (а по территории России Почтой России) несколькими способами : <br>

    <ul>
        <li>
            <span style="font-weight: 700;">Priority Mail</span> – <span style="font-weight: 300;">
            стоимость доставки варьируется в зависимости от веса и размеров от 23.99$ до 216.75$ (19.9 кг). Срок доставки варьируется от 14 до 35 дней, в зависимости от вашего местонахождения в РФ
            (иногда происходят задержки на таможне РФ до 5 недель, за которые мы ответственности не несем и повлиять на них не имеем возможности).
            Этот вариант доставки дает вам трэкинг номер, по которому вы можете отслеживать движение вашей посылки.
        </span> <br> <br>
        </li>

        <li>
            <span style="font-weight: 700;">Priority mail Flat Rate</span> <span style="font-weight: 300;">
            – конверты или боксы по единой цене, вне зависимости от веса вложения (есть ограничения)
            Конверт – 24.95$ (ограничение по весу 1.8 кг), в который помещаются мелкие нехрупкие товары, футболка, джемпер, джинсы, легкое платье и пр.
            Маленький бокс – 24.95$ (ограничение по весу 1.8 кг), в который помещаются мелкие товары, кошелек, неширокий ремень, футболка, блузка и пр.
            Средний бокс – 60.95$ (ограничение по весу 9 кг) 33 см х 28 х 7.5
            Большой бокс – 78.95$ (ограничение по весу 9 кг) 58 см х 28 х 7.5
        </span> <br> <br>
        </li>



        <li>
            <span style="font-weight: 700;">First class mail</span> <span style="font-weight: 300;">
            - самый дешевый вариант, но доставка занимает от 20 дней до 1.5 месяцев (иногда 2 месяца из-за задержек на таможне), тракинг номер только на территории США, т.е. вы не можете проследить дальнейших передвижений посылки, имеет весовые ограничения в 1.8 кг.
            Стоимость доставки варьируется в зависимости от веса от 7.55$ до 39.95$ (1.8 кг)
            - по факту отправки вашей посылки вам будет выслан емайл с тракинг номером, по которому вы сможете убедиться, что посылка отправлена и отслеживать ее передвижение.
            - за утерянные Почтой России посылки наша компания ответственности не несет и возврат денег не производит (утери случаются крайне редко). Чтобы подобных ситуаций не возникало, мы рекомендуем страховать посылки.
        </span>
        </li>
    </ul>
    <br>
    <li><span style="font-weight: 700;">Страхование посылки</span></li>

    Если вы заказываете дорогостоящие товары мы рекомендуем застраховать посылку путем добавления страховки при оформлении заказа. Страховку можно преобрести только на посылки, отправляемые Priority Mail. Цена страховки составляет от 2.5$ (сумма покрытия 50$) до 125$ (сумма покрытия 5000$).
    <br> Для оформления претензии на возмещение в страховом случае уведомите, пожалуйста, нас по внутренней почте в разделе “Вопросы”.
    По условиям страховой компании, сумма страховки может равняться номинальной стоимости товара и не может превышать инвойсовую стоимость товара.
    Таможенное оформление и пошлины
    Пороговая сумма таможенной стоимости* для беспошлинной пересылки составляет 1000 евро в месяц в адрес одного получателя.

    <br>Кроме того действуют ограничения по весу (31 кг в месяц) для беспошлинного перевоза.
    Если ваша посылка облагается пошлиной**, <br>Вам сообщат об этом сотрудники почтовой службы /на Ваше имя придет уведомление. Пошлина всегда оплачивается получателем.<br>
    В случае, когда посылка не попадает под ставку таможенной пошлины (общая сумма товаров меньше 1000 евро),<br> Вы никак не сталкиваетесь с таможенной службой и ничего за ввоз товаров не платите!
    * Таможенная стоимость - общая сумма товаров в Вашей посылке в соответствии с ценами продавца (за рубежом).
    ** Пошлина – это не 30% от общей суммы товаров в посылке, а 30% от разницы, на которую таможенная стоимость превышает 1000 евро. 250 рублей – это сбор за таможенное оформление.
   <br><br><li><span style="font-weight: 700;">Возврат товара</span></li>

    Если вы желаете вернуть товар, свяжитесь с нами в разделе «Вопросы» и мы дадим вам полные инструкции. Возврат оплачивается покупателем. После получения товара мы возвращаем вам деньги за товар в течении 2 дней (деньги за доставку не возмещаются).
</li>
</ul>
<br><br><br>

}